.img_places {
    width: 100%;
    margin: 15px;
    border-radius: 15px;
}

.container {
    min-height: 350px;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    border-radius: 40px;
    background-color: hsla(0, 0%, 16%, 0.5);
    z-index: 2;
    position: relative;
}

.container * {
    color: white;
}



.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.left_section {
    width: 50%;
    text-align: center;
    align-items: center;
}

.right_section {
    width: 80%;
}


.button {
    padding: 6px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: white;
    color: hsla(0, 0%, 16%, 0.822) !important;
}

.button:hover i {
    color: hsla(0, 0%, 16%, 0.822) !important;
}



.input * {
    color: black
}

.submit {
    background-color: rgba(5, 5, 5, 0.7);
    color: #d9d9d9;
    border-radius: 10px;
    border-color: transparent;
    outline: none;
    text-decoration: none;
}

.submit:hover {
    background-color: rgba(34, 34, 34, 0.7);
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it is above other content */
    overflow: hidden;
}


.x {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
}

.nope {
    outline: none;
    text-decoration: none;
}

@media screen and (max-width: 640px) {
    .input {
        border-color: transparent;
        color: black;
        border-radius: 10px;
        width: 90%;
        height: 40px;
        margin-bottom: 10px;
        outline: none;
    }

    .info {
        padding-left: 0px;
        padding-bottom: 10px;
    }

    .title {
        padding-left: 20px;
    }
}

@media screen and (min-width: 641px) {
    .input {
        border-color: transparent;
        color: black;
        border-radius: 10px;
        width: 60%;
        height: 40px;
        margin-bottom: 10px;
        outline: none;
    }

    .info {
        padding-left: 20px;
        padding-bottom: 10px;
    }

    .title {
        padding-left: 100px;
    }
}