
.img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    border-radius: 20px;
    height: 730px;
    
    
  }


  

  .carousel{
    height: 100%;
  }
  

  @media screen and (max-width: 1024px){
    .carouselItem{
      height: 20rem;
    }

    .img {
      margin-top: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 83%;
      border-radius: 20px;
      height: 430px;
      
      
    }
  }