

.inputContainer {
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.map{
    border-radius: 50px;
}


.greyContainer {
    background-color: hsla(0, 0%, 16%, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 760px;
    border-radius: 20px;
    position: relative;
}

.page {
    /* border: solid purple 2px; */
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    position: absolute;
    bottom: 0;
    right: 0;
}